MLS26_CA01
# Assignment 1: Data Understanding and Preprocessing

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.style.use('classic')

In [3]:
# Load dataset
file_path = "/Users/pontusneumann/Desktop/greenhouse-gas-emissions.xlsx"

# Load sheets
sheet2 = pd.read_excel(file_path, sheet_name=1)  # Variable descriptions
sheet3 = pd.read_excel(file_path, sheet_name=2)  # Emission data

# Inspect
sheet2.head()

,Variable,Description,In 'UK_by_source' dataset?,In 'UNFCCC_by_source' dataset?
0,Included in UK territorial total,Identifies emissions included in the UK territ...,Yes,No
1,Included in UK UNFCCC total,Identifies emissions included in the territori...,No,Yes
2,Included in UK Paris Agreement total,Identifies emissions included in the territori...,No,Yes
3,GHG,"The greenhouse gas emitted, with different spe...",Yes,Yes
4,GHG grouped,"The greenhouse gas emitted, with F-gases group...",Yes,Yes

In [4]:
# Clean column names
sheet2.columns = sheet2.columns.str.strip()

# Relevant columns only
variables_table = sheet2.iloc[:, :2]
variables_table.columns = ["Variable", "Description"]
variables_table

,Variable,Description
0,Included in UK territorial total,Identifies emissions included in the UK territ...
1,Included in UK UNFCCC total,Identifies emissions included in the territori...
2,Included in UK Paris Agreement total,Identifies emissions included in the territori...
3,GHG,"The greenhouse gas emitted, with different spe..."
4,GHG grouped,"The greenhouse gas emitted, with F-gases group..."
5,CRT category,Categories defined in international guidelines...
6,CRT category description,Text description for each CRT category.
7,Year,The calendar year in which the emissions occur...
8,Territory name,"The territory where the emissions occurred, ei..."
9,Territorial Emissions Statistics sector,A grouping of the TES subsectors and categories.
10,Territorial Emissions Statistics subsector,A grouping of the TES categories.
11,Territorial Emissions Statistics category,A grouping based on the source and activity ca...
12,Source,"The process, technology or other origin of the..."
13,Fuel group,A grouping of the fuel category.
14,Fuel,"A grouping of the activity category, with some..."
15,Activity,"The fuel combusted or, where not related to fu..."
16,Emissions (MtCO2e),"The amount of emissions, measured in million t..."

In [5]:
sheet3.head()
sheet3.info()
sheet3.describe()

<class 'pandas.DataFrame'>
RangeIndex: 78022 entries, 0 to 78021
Data columns (total 15 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Included in UK territorial total            78022 non-null  str
 1   GHG                                         78022 non-null  str
 2   GHG grouped                                 78022 non-null  str
 3   CRT category                                78022 non-null  str
 4   CRT category description                    78022 non-null  str
 5   Year                                        78022 non-null  int64
 6   Territory name                              78022 non-null  str
 7   Territorial Emissions Statistics sector     78022 non-null  str
 8   Territorial Emissions Statistics subsector  78022 non-null  str
 9   Territorial Emissions Statistics category   78022 non-null  str
 10  Source                                      78022 non-null  str
 11  Fuel group                                  78022 non-null  str
 12  Fuel                                        78022 non-null  str
 13  Activity                                    78022 non-null  str
 14  Emissions (MtCO2e)                          78022 non-null  float64
dtypes: float64(1), int64(1), str(13)
memory usage: 8.9 MB

               Year  Emissions (MtCO2e)
count  78022.000000        78022.000000
mean    2007.771295            0.293069
std        9.982078            3.036902
min     1990.000000          -18.002028
25%     1999.000000            0.000124
50%     2008.000000            0.002087
75%     2016.000000            0.026358
max     2024.000000          184.014756