# Compulsory Assignment 1
## Machine Learning and Deep Learning (CDSCO2041C)
Group: MLS26_CA01

Student IDs: 185912, xxx, xxx & xxx

Dataset: `greenhouse-gas-emissions.xlsx` (sheet `UK_by_source`)

### Question 1

1. Write a Python program to perform a covariance- and correlation-based analysis to examine
relationships between emissions, sources, and activities across years. Do not use any built-in
covariance or correlation functions. You must implement your calculations.

2. Write another Python program to visualise your findings from the previous step and briefly
explain the observed emission patterns. Hints: You may consider using histograms, boxplots,
and scatterplots

In [11]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

plt.style.use('classic')

In [ ]:
# Load dataset
file_path = "/Users/pontusneumann/Desktop/greenhouse-gas-emissions.xlsx"

# Load sheets
sheet2 = pd.read_excel(file_path, sheet_name=1)  # Variable descriptions
sheet3 = pd.read_excel(file_path, sheet_name=2)  # Emission data

# Inspect
sheet2.head()

,Variable,Description,In 'UK_by_source' dataset?,In 'UNFCCC_by_source' dataset?
0,Included in UK territorial total,Identifies emissions included in the UK territ...,Yes,No
1,Included in UK UNFCCC total,Identifies emissions included in the territori...,No,Yes
2,Included in UK Paris Agreement total,Identifies emissions included in the territori...,No,Yes
3,GHG,"The greenhouse gas emitted, with different spe...",Yes,Yes
4,GHG grouped,"The greenhouse gas emitted, with F-gases group...",Yes,Yes

In [3]:
# Clean column names
sheet2.columns = sheet2.columns.str.strip()

# Relevant columns only
variables_table = sheet2.iloc[:, :2]
variables_table.columns = ["Variable", "Description"]
variables_table

,Variable,Description
0,Included in UK territorial total,Identifies emissions included in the UK territ...
1,Included in UK UNFCCC total,Identifies emissions included in the territori...
2,Included in UK Paris Agreement total,Identifies emissions included in the territori...
3,GHG,"The greenhouse gas emitted, with different spe..."
4,GHG grouped,"The greenhouse gas emitted, with F-gases group..."
5,CRT category,Categories defined in international guidelines...
6,CRT category description,Text description for each CRT category.
7,Year,The calendar year in which the emissions occur...
8,Territory name,"The territory where the emissions occurred, ei..."
9,Territorial Emissions Statistics sector,A grouping of the TES subsectors and categories.
10,Territorial Emissions Statistics subsector,A grouping of the TES categories.
11,Territorial Emissions Statistics category,A grouping based on the source and activity ca...
12,Source,"The process, technology or other origin of the..."
13,Fuel group,A grouping of the fuel category.
14,Fuel,"A grouping of the activity category, with some..."
15,Activity,"The fuel combusted or, where not related to fu..."
16,Emissions (MtCO2e),"The amount of emissions, measured in million t..."

The above table shows the variable desciriptions for the dataset.

In [4]:
sheet3.head()
sheet3.info()
sheet3.describe()

<class 'pandas.DataFrame'>
RangeIndex: 78022 entries, 0 to 78021
Data columns (total 15 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Included in UK territorial total            78022 non-null  str
 1   GHG                                         78022 non-null  str
 2   GHG grouped                                 78022 non-null  str
 3   CRT category                                78022 non-null  str
 4   CRT category description                    78022 non-null  str
 5   Year                                        78022 non-null  int64
 6   Territory name                              78022 non-null  str
 7   Territorial Emissions Statistics sector     78022 non-null  str
 8   Territorial Emissions Statistics subsector  78022 non-null  str
 9   Territorial Emissions Statistics category   78022 non-null  str
 10  Source                                      78022 non-null  str
 11  Fuel group                                  78022 non-null  str
 12  Fuel                                        78022 non-null  str
 13  Activity                                    78022 non-null  str
 14  Emissions (MtCO2e)                          78022 non-null  float64
dtypes: float64(1), int64(1), str(13)
memory usage: 8.9 MB

               Year  Emissions (MtCO2e)
count  78022.000000        78022.000000
mean    2007.771295            0.293069
std        9.982078            3.036902
min     1990.000000          -18.002028
25%     1999.000000            0.000124
50%     2008.000000            0.002087
75%     2016.000000            0.026358
max     2024.000000          184.014756

In [5]:
print("Total missing values:", sheet3.isnull().sum().sum())

Total missing values: 0

In [6]:
# Keep relevant columns
df = sheet3[[
    "Year",
    "Source",
    "Activity",
    "Emissions (MtCO2e)"
]].copy()

df.head()

,Year,Source,Activity,Emissions (MtCO2e)
0,1990,Aircraft - international take off and landing,Aviation turbine fuel,0.008548
1,1990,Aircraft - international take off and landing,Aviation spirit,0.000008
2,1990,Aircraft between UK and Bermuda - TOL,Aviation turbine fuel,0.000012
3,1990,Aircraft between UK and CDs - TOL,Aviation turbine fuel,0.000735
4,1990,Aircraft between UK and CDs - TOL,Aviation spirit,0.000007

In [8]:
# Aggregate emissions by Year and Source
grouped = df.groupby(["Year", "Source"])["Emissions (MtCO2e)"].sum().reset_index()

# Pivot to get sources as columns
pivot_df = grouped.pivot(index="Year", columns="Source", values="Emissions (MtCO2e)")

pivot_df = pivot_df.fillna(0)

pivot_df.head()

Source,Abandoned oil wells (offshore),Abandoned oil wells (onshore),Accidental fires - dwellings,Accidental fires - other buildings,Accidental fires - vehicles,Adipic acid production,Aerosols other than metered dose inhalers,Agricultural Horses - Direct,Agricultural Horses - Indirect Deposition,Agricultural Horses - Indirect Leach,...,Upstream Oil Production - Offshore Well Testing,Upstream Oil Production - Oil terminal storage,Upstream Oil Production - Onshore Oil Loading,Upstream Oil Production - flaring,Upstream Oil Production - fuel combustion,Upstream Oil Production - fugitive emissions,Upstream Oil Production - venting,Upstream Oil Production: direct process emissions,Well exploration (unconventional gas): all sources,Wildfires
Year,,,,,,,,,,,,,,,,,,,,,
1990,0.000032,0.000523,0.007963,0.018494,0.001793,17.727085,0.000000,0.038347,0.004704,0.003355,...,0.425799,0.000123,0.043785,4.145231,9.598660,0.069816,0.247765,0.351668,0.0,0.061387
1991,0.000034,0.000527,0.007936,0.015709,0.002070,17.823582,0.000000,0.039752,0.004876,0.003478,...,0.404999,0.000118,0.041333,3.995975,9.350138,0.067302,0.238844,0.305875,0.0,0.093121
1992,0.000036,0.000530,0.007881,0.015559,0.002073,13.750002,0.000000,0.040954,0.005024,0.003583,...,0.369515,0.000121,0.041423,4.096585,10.278768,0.068997,0.244857,0.346061,0.0,0.036715
1993,0.000038,0.000531,0.007581,0.014458,0.002087,10.350900,0.080013,0.047273,0.005799,0.004136,...,0.342597,0.000129,0.037822,4.336500,10.881922,0.073038,0.259197,0.244219,0.0,0.051943
1994,0.000040,0.000535,0.007509,0.014122,0.001931,11.482086,0.240038,0.049339,0.006052,0.004317,...,0.376857,0.000163,0.037904,5.498342,11.287306,0.092606,0.328642,0.112690,0.0,0.045277

In [ ]:
def manual_covariance(x, y):
    n = len(x)
    x_mean = np.mean(x)
    y_mean = np.mean(y)
    
    total = 0
    for i in range(n):
        total += (x[i] - x_mean) * (y[i] - y_mean)
        
    return total / (n - 1)

## Custom Covariance and Correlation (No Built-in Functions)

In this section, we manually implement the sample covariance and correlation formulas to examine the relationships between emission sources across years. This approach ensures full transparency of the statistical calculations and demonstrates a clear understanding of the underlying theoretical foundations from Lecture 02.

## Sample Mean

For a variable ( x ) with ( n ) observations:

$$
\bar{x} = \frac{1}{n}\sum_{i=1}^{n} x_i
$$

The mean represents the central tendency of emissions across years.

## Sample Covariance

The sample covariance between two variables ( x ) and ( y ) is defined as:

$$
\text{cov}(x,y) = \frac{1}{n-1} \sum_{i=1}^{n} (x_i - \bar{x})(y_i - \bar{y})
$$

We use **(n−1)** instead of **n** because we compute the *sample covariance*, not the population covariance. This correction ensures an unbiased estimator.

* **Positive covariance** → Two emission sources increase or decrease together over time.
* **Negative covariance** → When one source increases, the other tends to decrease.
* **Covariance close to zero** → No clear linear co-movement.

However, covariance depends on the scale of the variables. Large emission sectors will naturally produce larger covariance values.

## Sample Standard Deviation

Standard deviation is derived from variance:

$$
s_x = \sqrt{\frac{1}{n-1} \sum_{i=1}^{n}(x_i - \bar{x})^2}
$$

It measures dispersion of emissions over time.

## Sample Correlation

Correlation standardizes covariance:

$$
\text{corr}(x,y) = \frac{\text{cov}(x,y)}{s_x s_y}
$$

Unlike covariance, correlation is **scale-independent** and bounded between -1 and 1.

* +1: Perfect positive linear relationship
* -1: Perfect negative linear relationship
* 0: No linear relationship

In our greenhouse gas dataset, correlation helps identify:

* Which sectors structurally decline together
* Whether reductions are economy-wide or sector-specific
* Whether certain sources behave independently

### Application for our Emission Analysis

Understanding covariance and correlation allows us to:

* Detect structural transformation in the UK economy
* Identify co-movement between industrial sectors
* Evaluate whether emission reductions occur uniformly
* Support later clustering and policy interpretation

Covariance gives magnitude of joint variation.
Correlation gives strength and direction of relationship.